/* hero sprite */

body {
    background-color: black;
}

#gamebackground {
    position: absolute;
    left: 0;
    /* right: 1000px; */
    top: 0px;
    bottom: 800px;
    height: 1000px;
    width: 1000px;
    /* margin-top: 0px;
    margin-bottom: 800px;
    margin-left: 0px;
    margin-right: 1000px; */
}

.shooter1 {
    background-color: rgb(0, 0, 0);
    background-image: url(imgs/spaceship.png);
    background-size: 45px;
    background-repeat: no-repeat;
    /* left: 5px; */
    width: 47px;
    height: 41px;
    position: absolute;
    color: black;
}

.shooter2 {
    background-color: rgb(0, 0, 0);
    background-image: url(imgs/spaceship.png);
    background-size: 45px;
    background-repeat: no-repeat;
    /* left: 5px; */
    width: 47px;
    height: 41px;
    position: absolute;
    color: black;
    visibility: hidden;
}

#laser1 {
    background: green;
    width: 2px;
    height: 50px;
    position: absolute;
}

#laser2 {
    background: green;
    width: 2px;
    height: 50px;
    position: absolute;
    /* visibility: hidden; */
}

.enemy {
    background: blue;
    width: 30px;
    height: 30px;
    position: absolute;
}

#score {
    color: white;
    font-size: 20pt;
    position: absolute;
    left: 20px;
    top: 20px;
}

#gameover {
    background-color: blue;
    color: red;
    font-size: 20px;
    position: absolute;
    left: 160px;
    top: 200px;
    visibility: hidden;
}

.total-score {
    color: rgb(121, 81, 81);
    background-color: rgb(0, 17, 255);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    font-size: 30pt;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}

.total-score button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.total-score.show {
    display: flex;
}

.total-score.hide {
    display: none;
}

#displayScore1 {
    margin: 10px;
    width: auto;
    height: 40px;
    background: url(imgs/eyes.png) no-repeat bottom;
    background-size: 100% 100%;
    color: red;
    background-color: red;
    display: block;
    visibility: visible;
}

.displayScore1.show {
    display: flex;
}

.winner-message {
    color: rgb(248, 56, 56);
    background-color: rgb(0, 60, 255);
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* display: flex; */
    font-size: 30pt;
    position: fixed;
    justify-content: center;
    align-items: center;
    display: none;
    flex-direction: column;
}

.winner-message button {
    font-size: 3rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winner-message.show {
    display: flex;
}


/* .winner-message.hide {
    display: none;
} */